<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4> </h4>
  <h1 class="w3-xxxlarge">Bookings.Yeah!</h1>
  </div>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  
</header>

<div class="w3-row-padding w3-center w3-margin-top"></div>
<div class="w3-container">
<ul class="w3-navbar w3-theme">
  <li><a class="w3-dark-grey w3-padding-hor-16" href="${pageContext.request.contextPath}">Home</a></li>
  <li><a class="w3-padding-hor-16" href="Login.jsp">Login</a></li>
  <li><a class="w3-padding-hor-16" href="javascript:void(0)">About</a></li>
  <li class="w3-dropdown-hover">
    <a class="w3-padding-hor-16" href="javascript:void(0)">Dropdown <i class="fa fa-caret-down"></i></a>
    <div class="w3-dropdown-content w3-card-4">
      <a class="w3-padding-hor-16" href="javascript:void(0)">Link 1</a>
      <a class="w3-padding-hor-16" href="javascript:void(0)">Link 2</a>
      <a class="w3-padding-hor-16" href="javascript:void(0)">Link 3</a>
    </div>
  </li>
  <li class="w3-right"><a class="w3-padding-hor-16" href="SearchHotel"><i class="fa fa-search"></i></a></li>
</ul>
</div>
