<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4> </h4>
  <h1 class="w3-xxxlarge">Bookings.Yeah! - Management System</h1>
  </div>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  
</header>

<div class="w3-row-padding w3-center w3-margin-top"></div>
<div class="w3-container">
<ul class="w3-navbar w3-theme">
  <li><a class="w3-padding-hor-16" href="ManagerLogin.jsp">Login</a></li>
</ul>
</div>
<div class="w3-row-padding w3-center w3-margin-top"></div>
